:root {
  --background: #18100C;
  --foreground: #F5E6D3;
  --card: #1F1511;
  --card-foreground: #F5E6D3;
  --popover: #261A15;
  --popover-foreground: #F5E6D3;
  --primary: #D48C56;
  --primary-foreground: #18100C;
  --secondary: #3E2B24;
  --secondary-foreground: #F5E6D3;
  --muted: #2A1E19;
  --muted-foreground: #A89085;
  --accent: #00F0FF;
  --accent-foreground: var(--foreground);
  --destructive: #7f1d1d;
  --destructive-foreground: var(--background);
  --border: #3E2B24;
  --input: #2A1E19;
  --ring: #D48C56;
  --radius: 0.5rem;
  --sidebar: #18100C;
  --sidebar-foreground: #F5E6D3;
  --sidebar-primary: #D48C56;
  --sidebar-primary-foreground: #18100C;
  --sidebar-accent: #3E2B24;
  --sidebar-accent-foreground: #F5E6D3;
  --sidebar-border: #3E2B24;
  --sidebar-ring: #D48C56;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #18100C;
  --foreground: #F5E6D3;
  --card: #1F1511;
  --card-foreground: #F5E6D3;
  --popover: #261A15;
  --popover-foreground: #F5E6D3;
  --primary: #D48C56;
  --primary-foreground: #18100C;
  --secondary: #3E2B24;
  --secondary-foreground: #F5E6D3;
  --muted: #2A1E19;
  --muted-foreground: #A89085;
  --accent: #00F0FF;
  --accent-foreground: var(--foreground);
  --destructive: #7f1d1d;
  --destructive-foreground: var(--background);
  --border: #3E2B24;
  --input: #2A1E19;
  --ring: #D48C56;
}
